*{
margin: 0;
padding: 0;
}
body{
	font-family: "Asap", sans-serif;
	background-color: #f1f1f1;
    display: flex;
    flex-direction: column;

}



    #body1{
	padding: 20px 0px;
	display: flex;
    flex-direction: column;
	justify-content: center;
	}

	#bus{
    
	background-color:indigo;
	width: 110px;
    height: 100px;
	border-radius: 10px;
    display: flex;
    align-self: center;
    flex-flow: column;
	}
	#B{
	display: flex;
    align-self: center;
	color:white;
	font-size:80px;
	}

	#first-heading{ 
	display: flex;
	justify-content: center;
	font-size: 20px;
	}

	#second-heading{
	display: flex;
	justify-content: center;
	font-size: 13px;
	padding: 10px 20px;
	}

	#row1{
	padding:10px 15px;
	font-size: 20px;
    color: black;
}
   
	

 


   #Cart-body{
	padding: 10px 15px;
    color: white;
    }


    
    .dollar-rate{
    	padding: 5px 10px;
    	color:black;
    	font-weight: bold;
    	font-size: 15px;
    	background-color: white;
    }
    .card-price{
        float: right;
    }

    .dollar-value{
        float: left;
    }

    .description{
    	padding: 0px 10px;
    	color: grey;
    	font-size: 10px;
    	padding-bottom: 5px;
    	padding-top: 3px;
    	background-color: white;
    }

    #promo-box{
    	background-color: #f1f1f1;

    }


    #form-redeem{
    	border: 1px solid grey;
      margin-top: 15px;
      border-radius: 5px;
    	
    }

    #click-redeem{
    	padding: 5px 10px;
    	display: flex;
    	
    
    }

    #address-border{
        padding: 10px 0;
        font-size: 25px;
        font-weight: bold;
        color: black;

    }

    #place-holder{
    	width: 100%;
    	height: 30px;
    	border-radius: 3px;
    	border: 1px solid grey;
    }

    #button{
    	background-color: grey;
    	color: white;
    	font-weight: bold;
    }
     .row{
     	display: flex;
     	flex-direction: column;
     	padding: 10px 0px;
     	width: 100%;
        border-radius: 3px;
        color: black;
     }

       #row1{
        display: flex;
        flex-direction: column;
        padding: 5px 0px;
        width: 100%;
     }

      #username{
        display: flex;
        flex-direction: column;
        padding: 5px 0;
        color: black;
        
        
     }
    #username-input-field{
        display: flex;
    }
     #click{
        background-color: grey;
        color: white;
        width: 4%;
     }
    #username-input{
        width: 96%;
    }
     #select{
          padding: 15px 15px;
         display: flex;
        flex-direction: column;
        color: black;

     }



     #horizontal-line{
        color: grey;
        padding: 10px 20px;
        width: 100%
     }

     #payment{
        padding: 10px 0px;
     }

      #card-type{
        padding: 20px 10px;
        list-style-type: circle;
        color: black;

      }

      .card-details{
        padding: 10px 5px;
        color: black;

      }

      .card-label{
        padding: 5px 0;
        display: flex;
        flex-direction: column;
      }


      #last-line{
    margin-top: 20px;
    }

      #checkbox {
     margin-top:20px;
        width: 100%;
        height: 30px;
        padding-left:50px;
        background-color: blue;
        color :white;
        border :1px solid grey;
        border-radius: 3px;
        font-size: 12px;
        
     }

     #footer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        padding-top: 70px;
        text-align: center;


     }

     #date{
        color:black;
     }

     .link{
        text-decoration: none;

        padding-top: 10px;
        color: blue;
        font-weight: bold;

     }
        
    
    



    @media only screen and (min-width: 768px){
        #Cart-body{
            display: flex;
            flex-direction: row-reverse;
        }
        #your-cart{
            flex: 1;
            margin-left: 40px;
        }
        #billing-address{
            flex: 1;
        }

        body{
          padding: 0 200px;        }

        #select{

            flex: 1;
            margin-left: 
        }

    }

    